@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scrollHorizontal {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scrollHorizontal {
    display: flex;
    animation: scrollHorizontal 20s linear infinite;
  }
  
  